/* Import */

@import url('https://api.fontshare.com/v2/css?f[]=clash-display@200,400,700,500,600,300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Bac à sable */

.font-clash {
  font-family: 'Clash Display', sans-serif;
}

/* Général */

body {
  background-image: url("../public/img/Background.jpg");
  background-repeat: no-repeat;
}

.separator {
  background: linear-gradient(90deg, rgba(255,255,255,0) 5%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0) 95%);
  height: 1px;
  width: 100svw;
}

ul a, ul p {
  color: #888;
}